<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <title>Listings Rows - Explorer</title>
  </head>
  <body class="">
    <div class="page-wrapper">

      <div class="main-wrapper">
        <div class="main">
          <div class="main-inner">
            <div class="page-title">
              <div class="container">
                <h1>Listings Rows
                </h1>
                <div class="page-title-actions">
                  <div class="switcher">
                    <strong>Currency</strong>
                    <ul>
                      <li class="active"><a href="#">USD</a></li>
                      <li><a href="#">EUR</a></li>
                    </ul>
                  </div>
                  <!-- /.switcher -->
                  <div class="switcher">
                    <strong>Language</strong>
                    <ul>
                      <li class="active"><a href="#">EN</a></li>
                      <li><a href="#">FR</a></li>
                      <li><a href="#">DE</a></li>
                    </ul>
                  </div>
                  <!-- /.switcher -->
                </div>
                <!-- /.page-title-actions -->
              </div>
              <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container">
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Home</a>
                <a class="breadcrumb-item" href="#">Library</a>
                <a class="breadcrumb-item" href="#">Data</a>
                <span class="breadcrumb-item active">Bootstrap</span>
              </nav>
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  
                  
                    <div id="accordion">
                        <div >
                               <div class="documents" role="tab" id="peterhead">
                                <h4 class="mb-2">
                                    <a class="document" data-toggle="collapse" data-target="#peter" href="#">
                                        Электричество
                                    </a>
                                </h4>
                                </div>
                                <div class="collapse" id="peter" data-parent="#accordion">

                                    <div class="sidebar">

                                        <div class="widget">
                    
                                         
                                          <div class="filter">
                                            <form method="get" action="?">
                                              
                                              <div class="form-group">
                                               
                                                <input type="text" class="form-control" placeholder="Search by keyword ...">
                                              </div>
                                              <!-- /.form-group -->


                                              <div class="form-group">
                                                <label>Amenities</label>
                                                <select class="form-control">
                                                  <option>Air conditioning</option>
                                                  <option>Balcony</option>
                                                  <option>Bedding</option>
                                                  <option>Cable TV</option>
                                                  <option>Cleaning after exit</option>
                                                  <option>Cofee pot</option>
                                                  <option>Computer</option>
                                                  <option>Cot</option>
                                                  <option>Dishwasher</option>
                                                </select>
                                              </div>
                                              <!-- /.form-group -->

                                              <h2>Category</h2>
                                              <div class="checkbox">
                                                <label><input type="radio" name="form-property-type" value="rent"> КИП, автоматика <span class="label">78</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="radio" name="form-property-type" value="sale"> Аккумуляторы <span class="label">54</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="radio" name="form-property-type" value="sale"> Высоковольтная аппаратура <span class="label">50</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="radio" name="form-property-type" value="lease"> Сварочное оборудование <span class="label">32</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="radio" name="form-property-type" value="lease"> Светотехническое оборудование <span class="label">53</span></label>
                                              </div>
                                              <div class="checkbox">
                                                  <label><input type="radio" name="form-property-type" value="lease"> Силовые конденсаторы и 
                                                    <span class="ml-4"> конденсаторные установки </span> <span class="label">53</span></label>
                                                </div>
                                              <!-- /.checkbox -->
                                              <h2>Attributes</h2>
                                              <div class="checkbox">
                                                <label><input type="checkbox"> Трансформаторы <span class="label">93</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="checkbox"> Кабель <span class="label">54</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="checkbox">
                                                <label><input type="checkbox"> Генераторы <span class="label">22</span></label>
                                              </div>
                                              <!-- /.checkbox -->
                                              <div class="form-group-btn form-group-btn-placeholder-gap">
                                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                                              </div>
                                              <!-- /.form-group -->
                                            </form>
                                          </div>
                                          <!-- /.filter -->
                                        </div>
                                        <!-- /.widget -->
                                      </div>
                                      <!-- /.sidebbar -->
                                  
                                </div>
                        </div>   
                        <div >
                                <div class="documents" role="tab" id="dannyhead">
                                <h4 class="mb-2">
                                    <a class="document" data-toggle="collapse" data-target="#danny" href="#">
                                    Следуещее гавно
                                    </a>
                                </h4>
                            </div>
                            <div class="collapse" id="danny" data-parent="#accordion">

                                <div class="sidebar">

                                    <div class="widget">
                
                                     
                                      <div class="filter">
                                        <form method="get" action="?">
                                          <h2>Search criteria</h2>
                                          <div class="form-group">
                                            <label>Keyword</label>
                                            <input type="text" class="form-control" placeholder="Search by keyword ...">
                                          </div>
                                          <!-- /.form-group -->
                                          <div class="form-group">
                                            <label>City</label>
                                            <select class="form-control">
                                              <option>Location</option>
                                              <option>Chicago</option>
                                              <option>San Francisco</option>
                                              <option>Seattle</option>
                                              <option>New York</option>
                                              <option>Washington</option>
                                            </select>
                                          </div>
                                          <!-- /.form-group -->
                                          <div class="form-group">
                                            <label>Price Slider</label>
                                            <div id="slider" class="price-slider"></div>
                                          </div>
                                          <!-- /.form-group -->
                                          <div class="form-group">
                                            <label>Amenities</label>
                                            <select class="form-control">
                                              <option>Air conditioning</option>
                                              <option>Balcony</option>
                                              <option>Bedding</option>
                                              <option>Cable TV</option>
                                              <option>Cleaning after exit</option>
                                              <option>Cofee pot</option>
                                              <option>Computer</option>
                                              <option>Cot</option>
                                              <option>Dishwasher</option>
                                            </select>
                                          </div>
                                          <!-- /.form-group -->
                                          <div class="row">
                                            <div class="form-group col-xl-6">
                                              <label>Price From</label>
                                              <input type="text" class="form-control" placeholder="Min. price">
                                            </div>
                                            <!-- /.form-group -->
                                            <div class="form-group col-xl-6">
                                              <label>Price To</label>
                                              <input type="text" class="form-control" placeholder="Max. price">
                                            </div>
                                            <!-- /.form-group -->
                                          </div>
                                          <!-- /.row -->
                                          <h2>Category</h2>
                                          <div class="checkbox">
                                            <label><input type="radio" name="form-property-type" value="rent"> Property <span class="label">78</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="radio" name="form-property-type" value="sale"> Restaurant <span class="label">54</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="radio" name="form-property-type" value="sale"> Travel <span class="label">50</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="radio" name="form-property-type" value="lease"> Food &amp; Drink <span class="label">32</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="radio" name="form-property-type" value="lease"> Events <span class="label">53</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <h2>Attributes</h2>
                                          <div class="checkbox">
                                            <label><input type="checkbox"> Reduced <span class="label">93</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="checkbox"> Featured <span class="label">54</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="checkbox">
                                            <label><input type="checkbox"> Verified <span class="label">22</span></label>
                                          </div>
                                          <!-- /.checkbox -->
                                          <div class="form-group-btn form-group-btn-placeholder-gap">
                                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                                          </div>
                                          <!-- /.form-group -->
                                        </form>
                                      </div>
                                      <!-- /.filter -->
                                    </div>
                                    <!-- /.widget -->
                                  </div>
                                  <!-- /.sidebbar -->
                              
                            </div>
                        </div>

                </div>
                  
                  

               
                  

                </div>
                <!-- /.col-* -->
                <div class="col-md-8 col-lg-9">
                  <div class="sort-options">
                    <ul class="sort-display">
                      <li class="active"><a href="#"><i class="fa fa-th-list"></i></a></li>
                      <li><a href="#"><i class="fa fa-th-large"></i></a></li>
                    </ul>
                    <ul class="sort-order">
                      <li class="active"><a href="#"><i class="fa fa-chevron-up"></i></a></li>
                      <li><a href="#"><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <ul class="sort-by">
                      <li class="active"><a href="#">Title</a></li>
                      <li><a href="#">Price</a></li>
                      <li><a href="#">Date</a></li>
                    </ul>
                  </div>
                  <!-- /.sort-options -->


                  <div class="listing-row" *ngFor="let dish of dishes">
        
                    
                    <div class="listing-row-inner">
                      <a class="listing-row-image" >
                        <span class="listing-box-info"><strong>120</strong> people already purchased.</span><!-- /.listing-box-info -->
                        <span class="listing-row-image-content"  id ="{{dish.id}}">
                          <img  src="{{ baseURL + '/' + dish.image}}" alt={{dish.name}}>
                        </span>

                      </a>
                      <div class="listing-row-content">
                        <div class="listing-row-content-header">
                          <h3><a href="listings-detail.html">{{dish.name}}</a></h3>
                          <h4>4419 Railroad Street Marquette</h4>
                          <div class="actions">
                            <div class="actions-button">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                            <!-- /.actions-button -->
                            <ul class="actions-list">
                              <li><a href="#">Add to compare</a></li>
                              <li><a href="#">Add to favorites</a></li>
                              <li><a href="#">Report listing</a></li>
                            </ul>
                            <!-- /.actions-list -->
                          </div>
                          <!-- /.actions -->
                        </div>
                        <!-- /.listing-row-content-header -->
                        <div class="listing-row-content-meta">
                          <div class="listing-row-content-meta-item listing-row-content-meta-rating">
                            <span class="listing-row-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </span>
                          </div>
                          <!-- /.listing-row-meta-item -->
                          <div class="listing-row-content-meta-item listing-row-content-meta-category">
                            <span class="tag tag-black">$77.40</span>
                          </div>
                          <!-- /.listing-row-meta-item -->
                          <div class="listing-row-content-meta-item listing-row-content-meta-category">
                            <span class="tag">Lectures</span>
                          </div>
                          <!-- /.listing-row-meta-item -->
                        </div>
                        <!-- /.listing-row-meta-item -->
                        <div class="listing-row-content-body">
                          {{dish.description}}
                          <div class="listing-row-content-read-more">
                            <a href="listings-detail.html">Read more</a>
                          </div>
                          <!-- /.listing-row-content-read-more -->
                        </div>
                        <!-- /.listing-row-content-body -->
                      </div>
                      <!-- /.listing-row-content -->
                    </div>
                    <!-- /.listing-row-inner -->
                  </div>
                  <!-- /.listing-row -->


                


                  <ul class="pagination pull-right">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </div>
                <!-- /.col -->

              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.main-inner -->
        </div>
        <!-- /.main -->
      </div>
      <!-- /.main-wrapper -->
      <div class="footer-wrapper">
        <div class="footer">
          <div class="footer-inner">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>
                      <img src="assets/img/logo.svg" class="svg" alt="Home">
                      Explorer Template
                      <span>Directory HTML Template</span>
                    </h3>
                    <p>
                      Explorer is an advanced directory HTML template. It contains all HTML components
                      required for creating beautiful and functional websites.
                    </p>
                    <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- /.col-* -->
                <div class="col-lg-4">
                  <div class="widget">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link" href="index-directory.html">Directory Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-classified.html">Classified Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-job-board.html">Job Board Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-real-estate.html">Real Estate Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-automotive.html">Automotive Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-travel.html">Travel &amp; Hotel Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="index-restaurant.html">Restaurant Version</a></li>
                      <li class="nav-item"><a class="nav-link" href="admin-dashboard.html">Admin Dashboard</a></li>
                    </ul>
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /.col-* -->
                <div class="col-lg-4">
                  <div class="widget">
                    <h3>Best deals in your inbox</h3>
                    <p>
                      Join our newsletter for the most recent information. FYI this is not working form, just an example.
                    </p>
                    <form method="post">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your e-mail address">
                      </div>
                      <!-- /.form-group -->
                      <div class="form-group clearfix">
                        <button type="submit" class="btn btn-primary pull-right">Join Newsletter</button>
                      </div>
                      <!-- /.form-group -->
                    </form>
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container -->
          </div>
          <!-- /.footer-inner -->
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.footer-wrapper -->
    </div>
    <!-- /.page-wrapper -->
    <div id="modal-submit" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Компания</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="?" class="mb80">
              <fieldset>
                <legend>Информация</legend>
                <div class="form-group">
                  <label>Название</label>
                  <input type="text" class="form-control">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Описание</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>
                <!-- /.form-group -->
              </fieldset>
              <fieldset>
                <legend>Payment Information</legend>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Package</label>
                      <select class="form-control">
                        <option value="">Bronze + $10</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Payment Method</label>
                      <select class="form-control">
                        <option value="">Paypal</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Duration</label>
                      <select class="form-control">
                        <option value="">1 Year (Save 10%)</option>
                      </select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </fieldset>
              <fieldset>
                <legend>Location</legend>
                <div class="row">
                  <div class="col-sm-6">
                    
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Address</label>
                     
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Latitude</label>
                      
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Longitude</label>
                      
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Country</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Location</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Sublocation</label>
                      <select class="form-control"></select>
                    </div>
                    <!-- /.form-group -->
                  </div>
                </div>
                <!-- /.row -->
              </fieldset>
              <fieldset>
                <legend>Contact Information</legend>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Country</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Website</label>
                      <input type="text" class="form-control">
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col-* -->
                </div>
              </fieldset>
              <fieldset>
                <legend>Amenities</legend>
                <div class="checkbox-list">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Air conditioning
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Balcony
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Bedding
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cable TV
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cleaning after exit
                    </label>
                  </div>
                  <!-- /.form-check -->
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input"> Cofee pot
                    </label>
                  </div>
                  <!-- /.form-check -->
                </div>
                <!-- /.checkbox-list -->
              </fieldset>
              <fieldset>
                <legend>Additional Information</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Send me newsletter
                  </label>
                </div>
                <!-- /.form-check -->
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> I agree with terms &amp; conditions
                  </label>
                </div>
                <!-- /.form-check -->
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side">
        <div class="side-inner">
          <div class="side-user">
            <span class="avatar" style="background-image: url('../assets/img/tmp/user-10.jpg');"></span>
            <span class="side-user-avatar-name">
              <strong>William F. Kane</strong>
              <span>System administrator</span>
            </span>
            <a href="#" class="side-user-avatar-action">
              <i class="fa fa-cog"></i>
            </a>
          </div>
          <!-- /.side-user -->
          <ul class="nav flex-column">
            <li class="nav-item"><a href="admin-dashboard.html" class="nav-link">Author Dashboard</a></li>
            <li class="nav-item"><a href="admin-listings.html" class="nav-link">Listings Queue</a></li>
            <li class="nav-item"><a href="admin-projects.html" class="nav-link">Running Projects</a></li>
            <li class="nav-item"><a href="admin-tasks.html" class="nav-link">Tasks Management</a></li>
            <li class="nav-item"><a href="admin-users.html" class="nav-link">User Accounts</a></li>
          </ul>
          <h3>Welcome Back</h3>
          <form class="form-dark" method="post" action="?">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <!-- /.form-group -->
            <button class="btn btn-primary pull-right" type="submit">Login</button>
          </form>
        </div>
        <!-- /.side-inner -->
      </div>
      <!-- /.side -->
    </div>
    <!-- /.side-wrapper -->
    <div class="side-overlay"></div>
    <!-- /.side-overlay -->



  </body>
  
</html>